<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link rel="stylesheet" href="../static/login.css">
</head>
<body>
  <div class="login-screen">
    <div class="login-container">
      <img src="/static/territoryId.png" alt="Logo" class="logo">
      <h1 class="login-title">Login into your account</h1>
      <div class="login-form">
        <div class="input-group">
          <label for="email">Email Id</label>
          <input type="email" id="email" placeholder="info@provistechnologies.com" required>
          <span class="icon email-icon"><!-- icono email aquí --></span>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password" required>
          <span class="icon password-icon"><!-- icono candado aquí --></span>
        </div>
        <a href="#" class="forgot-password">Forgot password?</a>
        <button type="submit" class="login-btn">Login now</button>
<!--        <form action="{% url 'login' %}" method="post">-->
<!--          {% csrf_token %}-->
<!--          <button type="submit" class="login-btn">Login now</button>-->
<!--        </form>-->
        <div class="divider">
          <span>OR</span>
        </div>
        <a href="/sign_up/" class="signup-link">
          <button type="button" class="signup-btn">Signup now</button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
