{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Successful</title>
    <link rel="stylesheet" href="{% static 'login_success.css' %}">
    <script type="text/javascript">
        window.onload = function() {
            {% if registration_success %}
                alert('Face recognition completed successfully. All good.');
            {% endif %}
        };
    </script>
</head>
<body>
    <div class="container">
        <img src="{% static 'territoryId_with_border1.png' %}" alt="Logo" class="logo">
        <h1>Successful login</h1>
        <p>It's time to do face recognition</p>
<!--        <a href="/login">Do it</a>-->
        <form action="{% url 'login_success' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.username }}">
            <button type="submit" class="a">Do it</button>
        </form>
    </div>
</body>
</html>
