{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup Page</title>
<link rel="stylesheet" href="{% static 'sign_up.css' %}">
</head>
<body>
<div class="signup-screen">
    <div class="signup-container">
        <img src="{% static 'territoryId.png' %}" alt="Logo" class="logo">
        <h1 class="signup-title">Signup for a new account</h1>
        <button id="face-register-btn" style="display: none;" class="face-register-btn">Face Register</button>
        <form method="POST" action="." class="login-form spacer" id="signup-form">
            {% csrf_token %}
            <div class="form-row">
                <div class="input-group">
                    <label>First Name</label>
                    {{form.first_name}}
                    {% for error in form.first_name.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="input-group">
                    <label>Last Name</label>
                    {{form.last_name}}
                    {% for error in form.last_name.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="input-group">
                    <label>Username</label>
                    {{form.username}}
                    {% for error in form.username.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="input-group">
                    <label>Email Id</label>
                    {{form.email}}
                    {% for error in form.email.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="input-group">
                    <label>Password</label>
                    {{form.password1}}
                    {% for error in form.password1.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="input-group">
                    <label>Repeat password</label>
                    {{form.password2}}
                    {% for error in form.password2.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="signup-btn">Signup now</button>
        </form>
    </div>
</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<script>
    window.onload = function() {
        {% if registration_success %}
            document.getElementById('signup-form').style.display = 'none';
            document.getElementById('face-register-btn').style.display = 'block';
        {% endif %}
    }

    document.getElementById('face-register-btn').addEventListener('click', function() {
        var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var username = document.getElementById('username').value;

        fetch('/face_register/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username: username }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Face registration completed successfully. You can now log in.');
                window.location.href = '/login/';
            } else {
                alert('Error in facial registration');
            }
        })
        .catch(error => {
            console.error('AJAX request error:', error);
        });
    });
</script>
</body>
</html>
