{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Signup Page</title>
<link rel="stylesheet" href="{% static 'sign_up.css' %}">
</head>
<body>
  <div class="signup-screen">
    <div class="signup-container">
      <img src="{% static 'territoryId.png' %}" alt="Logo" class="logo">
      <h1 class="signup-title">Signup for a new account</h1>
      <form class="signup-form" method="post">
        {% csrf_token %}
        <div class="form-row">
          <div class="input-group">
            <label for="id_username">Username</label>
            <input type="text" name="username" id="id_username" placeholder="Enter your username.." required>
          </div>
        </div>
        <div class="form-row">
          <div class="input-group">
            <label for="id_email">Email Id</label>
            <input type="email" name="email" id="id_email" placeholder="info@xyz.com" required>
          </div>
          <div class="input-group">
            <label for="id_password1">Password</label>
            <input type="password" name="password1" id="id_password1" placeholder="Enter your password" required>
          </div>
          <div class="input-group">
            <label for="id_password2">Confirm Password</label>
            <input type="password" name="password2" id="id_password2" placeholder="xxxxxxxxxx" required>
          </div>
        </div>
        <button type="submit" class="signup-btn">Signup now</button>
        <!-- Incluye mensajes de error y validación aquí -->
      </form>
    </div>
  </div>
</body>
</html>
